.c-blog-main {
  margin: 40px 0 60px;
  text-align: center;
  &-thum {
    width: 680px;
    height: 180px;
    }
  &-desription {
    margin-top: 20px;
    font-size: 13px;
  }
}

.c-single-title {
	position: relative;
  width: 630px;
	padding: 0 10px 10px 50px;
	border-bottom: 2px solid #dddddd;
  &::before,
  &::after {
  	position: absolute;
  	content: '';
  	border-radius: 100%
  }
  &::before {
  	top: 6px;
  	left: 6px;
  	z-index: 2;
  	width: 25px;
  	height: 25px;
  	background: $color-bluegreen;
    opacity: 0.7;
  }
  &::after {
  	top: 18px;
  	left: 18px;
  	width: 18px;
  	height: 18px;
  	background: $color-yellow;
    opacity: 0.7;
  }
}
.c-blog-subhead {
  font-size: 24px;
  position: relative;
	padding: 15px 0 10px 30px;
	border-left: 6px solid #dddddd;
  &::before {
  	position: absolute;
  	left: -6px;
  	bottom: 0;
  	content: '';
  	width: 6px;
  	height: 50%;
  	background-color: $color-bluegreen;
  }
}

.c-blog-cont {
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 1.9em;
}

@media (max-width: 760px) {
  .c-single-title {
    width: 80%;
    padding: 0 0 10px 50px;
    font-size: 18px;
  }
}
