.c-readButton {
  display: inline-block;
  padding: 5px 12px;
  margin: 10px 0px 10px 10px;
  text-align: right;
  color: $color-yellow;
  background-color: $main-font-color;
  font-size: 12px;
  border-radius: 16px;

}

a.c-readButton  {
 &:hover {
  color: $main-font-color;
  background-color: $color-yellow;
  }
}

.c-prev-button {
  display: inline-block;
  width: 100px;
  padding: 7px 15px;
  color: $main-font-color;
  background-color: #dddddd;
  border-radius: 40px 0 0 0;
  box-shadow: 5px 5px $main-font-color;
}

.c-next-button {
  display: inline-block;
  width: 100px;
  padding: 7px 15px;
  color: $main-font-color;
  background-color: #dddddd;
  margin-left: 20px;
  border-radius: 0 0 40px 0;
  box-shadow: 5px 5px $main-font-color;
}
