.c-readButton {
  display: inline-block;
  padding: 5px 12px;
  margin: 10px 0px 10px 10px;
  text-align: right;
  color: $color-yellow;
  background-color: $main-font-color;
  font-size: 12px;
  border-radius: 16px;

}

a {
  text-decoration: none;
}

a:hover {
  color: $main-font-color;
  background-color: #DAD2D8;
}
