.c-footPanels {
  justify-content: flex-end;
  padding: 20px 200px;
  &__profile {
    margin-right: auto;
  }
  &__category {
    flex-wrap: wrap;
  }
  &__content {
    padding: 5px;
    img {
      width: 128px;
      height: 128px;
    }
    ul {
      margin: 0 100px 0 0;
      padding: 0;
      li {
        display: block;
        list-style: none;
        line-height: 180%;
        }
      &:last-child {
        margin-right: 0px;
        }
      }
    }
  }
@media (max-width: 900px) {
  .c-footPanels {
    padding: 20px 90px;
  }
}

@media (max-width: 760px) {
  .c-footPanels {
    font-size: 80%;
  }
}

@media (max-width: 540px) {
  .c-footPanels {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px 40px;
    &__content {
      img {
        width: 60%;
        height: 60%;
      }
    }
  }
}

.c-profileName {
    text-align: center;
}

.c-sns-icon-rect {
  width: 38px;
  height: 38px;
  border-radius: 38px;
  margin: 20px 20px 20px 0;
  padding: 13px;
  background-color: $main-font-color;
}

.cls-1 {
  fill:$font-color-white;
}
