.c-footPanels{
  justify-content: center;
  &__profile {
    flex: 1 1 auto;
  }
  &__category {
    flex-wrap: wrap;
    flex: 2 1 auto;
    margin-left: 50px;
  }

  &__content {
    ul {
      margin: 0;
      padding: 0;
      li {
        display: block;
        list-style: none;
        width: 200px;
        line-height: 180%;
      }
    }
  }
}
