.c-gnav {
  display: flex;
  justify-content: flex-start;
  width:100%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  height: 60px;
  position: fixed;
  top: 0;
  &__item {
    cursor: pointer;
    width: 20%;
  }
  &__item-link {
    background-color: #eeeeee;
    display: block;
    text-align: center;
    padding: 20px 0;
    line-height: 25px;
    @media (max-width: 760px) {
      line-height: 10px;
    }
    &.is-current, &:hover {
      color: $font-color-white;
    }
    &--home {
      &.is-current {
        background-color: $main-font-color;
      }
      &:hover {
        background-color: $color-bluegreen;
      }
    }
    &--work {
      &.is-current {
        background-color: $main-font-color;
      }
      &:hover {
        background-color: $color-bluegreen;
      }
    }
    &--picture {
      &.is-current {
        background-color: $main-font-color;
      }
      &:hover {
        background-color: $color-bluegreen;
      }
    }
    &--about {
      &.is-current {
        background-color: $main-font-color;
      }
      &:hover {
        background-color: $color-bluegreen;
      }
    }
    &--category {
      background-color: $color-bluegreen;
      &:hover {
        background-color: $main-font-color;
      }
    }
  }
  &__hamburger {
    display: inline-block;
    transition: all .6s;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 65px;
    background-color: #eeeeee;
    &.active{
      span {
        &:nth-of-type(1) {
          transform: translateY(9px) rotate(-45deg) ;
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: translateY(-9px) rotate(45deg) ;
        }
        @media (max-width: 760px) {
          &:nth-of-type(1) {
            transform: translateY(8px) rotate(-45deg) ;
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:nth-of-type(3) {
            transform: translateY(-8px) rotate(45deg) ;
          }
        }
        @media (max-width: 540px) {
          &:nth-of-type(1) {
            transform: translateY(7px) rotate(-45deg) ;
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:nth-of-type(3) {
            transform: translateY(-7px) rotate(45deg) ;
          }
        }
      }
    }
    &-line {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      background-color: $main-font-color;
      width: 30px;
      height: 4px;
      border-radius: 4px;
      &:nth-of-type(1) {
        top: 22px;
        left: 40%;
      }
      &:nth-of-type(2) {
        top: 31px;
        left: 40%;
      }
      &:nth-of-type(3) {
        top: 40px;
        left: 40%;
      }
    }
  }
  &__toggle-items {
    opacity: 0;
    width: 50%;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(100%);
    transition: 0.6s;
    @media (max-width: 760px) {
      top: 50px;
    }
    &.active {
      opacity: 0.8;
      transform: translateX(0%);
    li {
      overflow: visible;
      height: 60px;
      @media (max-width: 760px) {
        height: 50px;
      }
    }
  }
}
}
@media (max-width: 760px) {
  .c-gnav {
    height: 33px;
    @include fontSize(12);
    flex-wrap: wrap;
    border: none;
    &__hamburger {
      height: 50px;
      &-line {
        width: 25px;
        height: 3px;
        border-radius: 4px;
        &:nth-of-type(1) {
          top: 14px;
          left: 40%;
        }
        &:nth-of-type(2) {
          top: 22px;
          left: 40%;
        }
        &:nth-of-type(3) {
          top: 30px;
          left: 40%;
        }
      }
    }
    &__item {
      width: 20%;
      &:last-child {
        border-right: none;
      }
    }
    &__item-link {
      padding: 20px 0;
    }
}
  @media (max-width: 540px) {
    .c-gnav {
      &__item {
        width: 20%;
      }
      &__hamburger {
        &-line {
          width: 20px;
          height: 3px;
          border-radius: 4px;
          &:nth-of-type(1) {
            top: 16px;
            left: 30%;
          }
          &:nth-of-type(2) {
            top: 23px;
            left: 30%;
          }
          &:nth-of-type(3) {
            top: 30px;
            left: 30%;
          }
        }
      }
    }
  }
}
