.c-pageTitle {
  font-family: $font-en3;
  text-decoration: underline;
  font-size: 40px;
  text-align: center;
  margin: 25px 120px;
}
@media (max-width: 760px) {
  .c-pageTitle {
    font-size: 25px;
    margin: 20px auto;
  }
}
