.c-listPanels {
  justify-content: center;
  margin-bottom: 80px;
}

.c-listBox {
  height: 210px;
  margin-right: 30px;
  border: dotted 1px $main-font-color;
  border-radius: 8px;
  &:last-child {
    margin-right: 0px;
  }
}

.c-listInner {
  height: 210px;
}

.c-listTitle {
  padding: 15px 10px;
  margin-top: -5px;
  font-family: $font-en3;
  font-size: 15px;
}

.c-listFoot {
  margin-top: 5px;
  text-align: right;
}

.c-thum {
  width: 200px;
  img {
    width: 200px;
    border-radius: 8px 8px 0 0;
  }
}
