.c-picturepanels {
  width: 700px;
  margin: 40px auto;
}

.c-picturepanels-btn-area {
  overflow: hidden;
  margin: 10px 0;
  font-family: $font-en3;
  font-size: 22px;
}

.c-picturepanels-btn-prev {
  float: left;
  color: $main-font-color;
}

.c-picturepanels-btn-next {
  float: right;
}

.c-picturepanels-title {
  margin: 5px 0;
  font-family: $font-en3;
  font-size: 20px;
}

.c-picturepanels-box img {
  width: 100%;
  display: block;
  opacity: 1;
}

.c-picturepanels-cap {
  margin: 5px 0;
  font-family: $font-en3;
  font-size: 16px;
}

@keyframes fade-in {
      0%{
    		opacity:0.4;
    	}
    	100% {
    		opacity:1;
    	}
    }

.c-picturepanels-box img, .c-picturepanels-btn-area, .c-picturepanels-title, .c-picturepanels-cap {
  animation: fade-in 3.5s ease 0s 1 normal;
}

#c-picturepanels-insta {
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.c-picturepanels-insta-box {
  overflow: hidden;
  box-sizing: border-box;
  width: 33.333333%;
  text-align: center;
}

.c-picturepanels-insta-box a {
  display: block;
  text-align: bottom;
  min-height: 80px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.c-picturepanels-insta-box img {
  width: 90%;
}

#c-picturepanels-insta-pagination {
  margin: 40px 0;
  text-align: center;
}

.c-picturepanels-insta-caption {
  margin: 5px 0 5px 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 80%;
  color: #666;
  text-align: center;
}
.c-picturepanels-insta-likes {
  margin: 0 0 10px 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 80%;
  color: #666;
  text-align: center;
}

@media (max-width: 760px) {
  .c-picturepanels {
    width: 90%;
  }
  .c-picturepanels-title {
    font-size: 16px;
  }
  .c-picturepanels-cap {
    font-size: 14px;
  }
}
