.c-picturepanels {
  width: 700px;
  margin: 40px auto;
}

.c-picturepanels-btn-area {
  overflow: hidden;
  margin: 10px 0;
  font-family: $font-en3;
  font-size: 22px;
}

.c-picturepanels-btn-prev {
  float: left;
  color: $main-font-color;
}

.c-picturepanels-btn-next {
  float: right;
}

.c-picturepanels-title {
  margin: 5px 0;
  font-family: $font-en3;
  font-size: 20px;
}

.c-picturepanels-box img {
  width: 100%;
  display: block;
  opacity: 1;
}

.c-picturepanels-cap {
  margin: 5px 0;
  font-family: $font-en3;
  font-size: 16px;
}

@keyframes fade-in {
      0%{
    		opacity:0.4;
    	}
    	100% {
    		opacity:1;
    	}
    }

.c-picturepanels-box img, .c-picturepanels-btn-area, .c-picturepanels-title, .c-picturepanels-cap {
  animation: fade-in 3.5s ease 0s 1 normal;
}

@media (max-width: 760px) {
  .c-picturepanels {
    width: 90%;
  }
  .c-picturepanels-title {
    font-size: 16px;
  }
  .c-picturepanels-cap {
    font-size: 14px;
  }
}
