extends ./_layout/_page.pug

block vars
  -
    var page = pages.blog;
    var gnav_current = ['', '', '', 'is-current'];
    var category = 'blog';

block content
  .l-cont-body
    h2.c-pageTitle ABOUT
    .c-about__body.u-column
      img.c-about__thumb(src="../img/test/profile_img.png", alt="")
      p.c-about__introduction
        |I'm a web designer or coder based in Tokyo, Japan. 
        br
        |I'm studying HTML, CSS, JavaScript and so on...
