extends ./_layout/_page.pug

block vars
  -
    var page = pages.index;

block content
  .c-listpanels.u-row
    - for (var i = 0; i < 9; i++) {
      .c-listpanels__box.u-column 
        a(href="#").c-listpanels__inner.u-column 
          .c-thum
            img(src="/img/test/pc_typying.jpg") 
          h2.c-listpanels__title 
            |WEBデザイナーへの道 #{i + ', ' + i % 3}
            br
            |2016.12.10
        .c-listpanels__foot
          a.c-readButton(href="#") READ MORE
    - }
  //- .c-listpanels.u-row
  //-   - for (var i = 0; i < 3; i++) {
  //-     .c-listpanels__box.u-column 
  //-       a(href="#").c-listpanels__inner.u-column 
  //-         .c-thum
  //-           img(src="/img/test/pc_typying.jpg") 
  //-         h2.c-listpanels__title 
  //-           |WEBデザイナーへの道
  //-           br
  //-           |2016.12.10
  //-       .c-listpanels__foot
  //-         a.c-readButton(href="#") READ MORE
  //-   - }
  //- .c-listpanels.u-row
  //-   - for (var i = 0; i < 3; i++) {
  //-     .c-listpanels__box.u-column 
  //-       a(href="#").c-listpanels__inner.u-column 
  //-         .c-thum
  //-           img(src="/img/test/pc_typying.jpg") 
  //-         h2.c-listpanels__title 
  //-           |WEBデザイナーへの道
  //-           br
  //-           |2016.12.10
  //-       .c-listpanels__foot
  //-         a.c-readButton(href="#") READ MORE
  //-   - }
