extends ./_layout/_page.pug

block vars
  -
    var page = pages.index;

block content

  div.c-listPanels
    div.c-listBox
      section
        img.c-thum(src="/img/test/pc_typying.jpg")
      div.c-listTitle WEBデザイナーへの道
        br
        |2016.12.10
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
    div.c-listBox
      section
        img.c-thum(src="/img/test/pc_typying.jpg")
      div.c-listTitle title1
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
    div.c-listBox
      section
        img.c-thum(src="/img/test/pc_typying.jpg")
      div.c-listTitle title1
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
    div.c-listBox
      section
        img.c-thum(src="/img/test/pc_typying.jpg")
      div.c-listTitle title1
      div.c-listFoot
        a.c-readButton(href="#") READ MORE

  div.c-listPanels
    div.c-listBox
      section
        img.c-thum(src="/img/test/pc_typying.jpg")
      div.c-listTitle title1
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
    div.c-listBox
      section
        img.c-thum(src="/img/test/pc_typying.jpg")
      div.c-listTitle title1
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
    div.c-listBox
      section
        img.c-thum(src="/img/test/pc_typying.jpg")
      div.c-listTitle title1
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
    div.c-listBox
      section
        img.c-thum(src="/img/test/pc_typying.jpg")
      div.c-listTitle title1
      div.c-listFoot
        a.c-readButton(href="#") READ MORE

  div.c-listPanels
    div.c-listBox
      section
        img.c-thum(src="/img/test/pc_typying.jpg")
      div.c-listTitle title1
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
    div.c-listBox
      section
        img.c-thum(src="/img/test/pc_typying.jpg")
      div.c-listTitle title1
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
    div.c-listBox
      section
        img.c-thum(src="/img/test/pc_typying.jpg")
      div.c-listTitle title1
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
    div.c-listBox
      section
        img.c-thum(src="/img/test/pc_typying.jpg")
      div.c-listTitle title1
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
