extends ./_layout/_page.pug

block vars
  -
    var page = pages.index;

block content

    div.main
      div.contents
      article.itemBox
        h1 タイトル1
        section.thum
          img(src="#")
      article.itemBox
        h1 タイトル2
        section.thum
          img(src="#")
      article.itemBox
        h1 タイトル3
        section.thum
          img(src="#")
