extends ./_layout/_page.pug

block vars
  -
    var page = pages.index;

block content
  div.c-listPanels.l-row
    article.c-listBox.l-column 
      div.c-listInner.l-column 
        a(href="#")
          div.c-thum
            img(src="/img/test/pc_typying.jpg") 
          div.c-listTitle WEBデザイナーへの道
            br
            |2016.12.10
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
    article.c-listBox.l-column 
      a(href="#")
        div.c-listInner.l-column 
          div.c-thum: img(src="/img/test/pc_typying.jpg")
          div.c-listTitle WEBデザイナーへの道
            br
            |2016.12.10
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
    article.c-listBox.l-column 
      a(href="#")
        div.c-listInner.l-column 
          div.c-thum: img(src="/img/test/pc_typying.jpg")
          div.c-listTitle WEBデザイナーへの道
            br
            |2016.12.10
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
    article.c-listBox.l-column 
      a(href="#")
        div.c-listInner.l-column 
          div.c-thum: img(src="/img/test/pc_typying.jpg")
          div.c-listTitle WEBデザイナーへの道
            br
            |2016.12.10
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
  div.c-listPanels.l-row
    article.c-listBox.l-column 
      a(href="#")
        div.c-listInner.l-column 
          div.c-thum: img(src="/img/test/pc_typying.jpg")
          div.c-listTitle WEBデザイナーへの道
            br
            |2016.12.10
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
    article.c-listBox.l-column 
      a(href="#")
        div.c-listInner.l-column 
          div.c-thum: img(src="/img/test/pc_typying.jpg")
          div.c-listTitle WEBデザイナーへの道
            br
            |2016.12.10
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
    article.c-listBox.l-column 
      a(href="#")
        div.c-listInner.l-column 
          div.c-thum: img(src="/img/test/pc_typying.jpg")
          div.c-listTitle WEBデザイナーへの道
            br
            |2016.12.10
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
    article.c-listBox.l-column 
      a(href="#")
        div.c-listInner.l-column 
          div.c-thum: img(src="/img/test/pc_typying.jpg")
          div.c-listTitle WEBデザイナーへの道
            br
            |2016.12.10
      div.c-listFoot
        a.c-readButton(href="#") READ MORE
