extends ./_layout/_page.pug

block vars
  -
    var page = pages.picture;
    var gnav_current = ['', '', 'is-current'];
    var category = 'picture';

block content
  h2.c-pageTitle PICTURE
  .c-picturepanels
    .c-picturepanels-box
    .c-picturepanels-btn-area
      button.c-picturepanels-btn-prev <<
      button.c-picturepanels-btn-next >>
    h3.c-picturepanels-title
    p.c-picturepanels-cap
  
  h2.c-pageTitle Instagram Gallery
  .c-picturepanels  
    #c-picturepanels-insta.u-row
    #c-picturepanels-insta-pagination
    
  
