extends ./_layout/_page.pug

block vars
  -
    var page = pages.picture;

block content
  h2.c-pageTitle PICTURE
  article.c-picturePanel.u-column
    div.c-pictureBox.l-column
      img.c-picturePanel__thum(src="/img/test/image1.jpg") 
      p Kamikohchi Nagano 2016 
  article.c-picturePanel.u-row
    div.c-pictureBox.l-column
      img.c-picturePanel__thum(src="/img/test/image1.jpg") 
      p Kamikohchi Nagano 2016 
  article.c-picturePanel.u-row
    div.c-pictureBox.l-column
      img.c-picturePanel__thum(src="/img/test/image1.jpg") 
      p Kamikohchi Nagano 2016 
