extends ./_layout/_page.pug

block vars
  -
    var page = pages.index;

block content
  .l-cont-body
    h2.c-blog-title nodebrewのインストール、起動
    p 2017.01.05
    img.c-blog-main-thum(src="/img/test/pc_typying.jpg", alt="")
    p.c-blog-cont
    |ああああああああああああああああああああああああああああああああああ
    br
    |ああああああああああああああああああああああああああああああああああ
    h3.c-blog-subhead 1.nodebrewって？
    |ああああああああああああああああああああああああああ
    br
    |ああああああああああああああああああああああああああ
    h3.c-blog-subhead 2.nodebrewって？
    |ああああああああああああああああああああああああああ
    br
    |ああああああああああああああああああああああああああ
    .l-cont-foot
      a.c-prev-button(href="") PREV
      a.c-next-button(href="") NEXT
