extends ./_layout/_page.pug

block vars
  -
    var page = pages.index;
    var gnav_current = ['', 'is-current', ''];
    var category = 'blog';

block content
  .l-cont-body
    h2.c-single-title nodebrewのインストール、起動
    p 2017.01.05
    .c-blog-main
      img.c-blog-main-thum(src="/img/test/pc_typying.jpg", alt="")
      p.c-blog-main-desription
        |あああああああああああああああああああああああああああああああああああああああああ
    .c-blog-cont
      h3.c-blog-subhead nodebrewって？
      p
      |ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    .c-blog-cont
      h3.c-blog-subhead nodebrewのインストール
      p
      |ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    .c-blog-cont
      h3.c-blog-subhead nodebrewの起動
      p
      |ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    .l-cont-foot
      a.c-prev-button(href="") PREV
      a.c-next-button(href="") NEXT
