extends ./_layout/_page.pug

block vars
  -
    var page = pages.work;
    var gnav_current = ['', 'is-current', '', ''];
    var category = 'work';

block content
  h2.c-pageTitle WORK
  .c-workpanels
    .c-workpanels__slider
      img(src="img/test/work001.png")
      img(src="img/test/work001.png")
      img(src="img/test/work001.png")
      img(src="img/test/work001.png")


          
