.l-gf {
  footer{
    height: 400px;
    background-color: $color-yellow;
    margin-top: 150px;
  }
}
@media (max-width: 540px) {
  .l-gf {
    footer{
      height: auto;
      background-color: $color-yellow;
      margin-top: 150px;
    }
  }
}
