.l-gh {
  header {
    font-family: $font-en;
    h1 {
      height: 150px;
      font-size: 40px;
      font-family: $font-en;
      color: $main-font-color;
      background-color: #EC9A29;
      padding-top: 70px;
      padding-left: 70px;
    }
  }

  nav {
    ul {
      display: flex;
      justify-content: center;
      li {
        display: block;
        list-style-type: none;
        padding: 0 60px;
        a {
          color:$main-font-color;
        }

      }
    }
  }
}
