.l-gh {
  header {
    margin-bottom: 120px;
    .ghTitle{
      height: 160px;
      margin-top: 80px;
      color: $main-font-color;
    }
    h1 {
      font-size: 60px;
      font-family: $font-en2;
      font-weight: 700;
      text-align: center;
    }
    .subTitle {
      margin-top: -25px;
      font-size: 25px;
      text-decoration: underline;
      font-family: $font-en3;
      text-align: center;
      }
      a:hover {
        background-color: #f5f5f5;
    }
  }

  nav {
    margin-top: 50px;
    margin-bottom: 40px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 0;
    }
    li {
      border-left: 1px solid #dddddd;
      &:last-child {
        border-right: 1px solid #dddddd;
      }
      a {
        display: block;
        padding: 10px 60px;
        &.navHome {
          border: 1px solid $color-bluegreen;
          color: $color-bluegreen;
        }
        &:hover {
          border: 1px solid $color-bluegreen;
          background-color: $color-bluegreen;
          color: #f5f5f5;
        }
      }
    }
  }
}
