ul.c-gnav
  li.c-gnav__item
    a(href="./index.html", class=gnav_current[0]).c-gnav__item-link.c-gnav__item-link--home
      |HOME
  li.c-gnav__item
    a(href="./work.html", class=gnav_current[1]).c-gnav__item-link.c-gnav__item-link--work
      |WORK
  li.c-gnav__item
    a(href="./picture.html", class=gnav_current[2]).c-gnav__item-link.c-gnav__item-link--picture
      |PICTURE
  li.c-gnav__item
    a(href="./about.html", class=gnav_current[3]).c-gnav__item-link.c-gnav__item-link--about
      |ABOUT
  li.c-gnav__item
    .c-gnav__item-link.c-gnav__item-link--category
      |CATEGORY
    .c-gnav__toggle-wrap
      ul.c-gnav__toggle-inner
        li.c-gnav__toggle-item
          a(href="#").c-gnav__item-link.c-gnav__item-link--about
            |JavaScript
        li.c-gnav__toggle-item
          a(href="#").c-gnav__item-link.c-gnav__item-link--about
            |WordPress
        li.c-gnav__toggle-item
          a(href="#").c-gnav__item-link.c-gnav__item-link--about
            |css
        li.c-gnav__toggle-item
          a(href="#").c-gnav__item-link.c-gnav__item-link--about
            |food
        li.c-gnav__toggle-item
          a(href="#").c-gnav__item-link.c-gnav__item-link--about
            |music
