.l-gf
  footer
    p#pagetop
      a(href="#")
        img(src="/img/test/up_finger.png", alt="")
    div.c-footPanels.u-row
      div.c-footPanels__profile.u-column
        h2 PROFILE
        section.c-footPanels__content.u-row
          img(src="../img/test/profile_img.png", alt="")
        section.c-footPanels__content
        h3 Yurie.T
        |I love music, curry and chocolate!!

      div.c-footPanels__category.u-column
        h2 CATEGORY
        section.c-footPanels__content.u-row
          ul
            each val in ["HTML", "CSS", "Wordpress", "pug", "sass", "JavaScript"]
              li: a(href="#")= val
          ul
            each val in ["pictures", "music", "movie", "", "", ""]
              li: a(href="#")= val 
        section.c-footPanels__content.u-row
          a.c-sns-icon-rect(href="http://yut1922.tumblr.com/")
              svg#logo(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024")
                path.cls-1(d="M702.77,799.58C680.56,823.3,629.09,839.4,583,840.16l-5.06,0c-154.84,0-188.47-113.84-188.47-180.29V475.26h-61a12.79,12.79,0,0,1-12.79-12.79V375.29a21.72,21.72,0,0,1,14.47-20.46c79.49-28,104.42-97.37,108.11-150.1,1-14.09,8.37-20.92,20.6-20.92h90.92a12.79,12.79,0,0,1,12.79,12.79V344.25H669A12.79,12.79,0,0,1,681.8,357V461.77A12.79,12.79,0,0,1,669,474.55H562.08V645.28c0,42.87,28.25,54.7,45.7,54.7,16.74-.4,33.22-5.5,41.48-8.82,6.13-2.46,11.52-4.09,16.34-2.88,4.49,1.12,7.44,4.3,9.43,10.1l28.21,82.4C705.53,787.38,707.5,794.53,702.77,799.58Z")
          a.c-sns-icon-rect(href="#")
              svg#logo(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
                path.cls-1(d="M256,49.5c67.3,0,75.2,0.3,101.8,1.5c24.6,1.1,37.9,5.2,46.8,8.7c11.8,4.6,20.2,10,29,18.8c8.8,8.8,14.3,17.2,18.8,29c3.4,8.9,7.6,22.2,8.7,46.8c1.2,26.6,1.5,34.5,1.5,101.8s-0.3,75.2-1.5,101.8c-1.1,24.6-5.2,37.9-8.7,46.8c-4.6,11.8-10,20.2-18.8,29c-8.8,8.8-17.2,14.3-29,18.8c-8.9,3.4-22.2,7.6-46.8,8.7c-26.6,1.2-34.5,1.5-101.8,1.5s-75.2-0.3-101.8-1.5c-24.6-1.1-37.9-5.2-46.8-8.7c-11.8-4.6-20.2-10-29-18.8c-8.8-8.8-14.3-17.2-18.8-29c-3.4-8.9-7.6-22.2-8.7-46.8c-1.2-26.6-1.5-34.5-1.5-101.8s0.3-75.2,1.5-101.8c1.1-24.6,5.2-37.9,8.7-46.8c4.6-11.8,10-20.2,18.8-29c8.8-8.8,17.2-14.3,29-18.8c8.9-3.4,22.2-7.6,46.8-8.7C180.8,49.7,188.7,49.5,256,49.5M256,4.1c-68.4,0-77,0.3-103.9,1.5C125.3,6.8,107,11.1,91,17.3c-16.6,6.4-30.6,15.1-44.6,29.1c-14,14-22.6,28.1-29.1,44.6c-6.2,16-10.5,34.3-11.7,61.2C4.4,179,4.1,187.6,4.1,256c0,68.4,0.3,77,1.5,103.9c1.2,26.8,5.5,45.1,11.7,61.2c6.4,16.6,15.1,30.6,29.1,44.6c14,14,28.1,22.6,44.6,29.1c16,6.2,34.3,10.5,61.2,11.7c26.9,1.2,35.4,1.5,103.9,1.5s77-0.3,103.9-1.5c26.8-1.2,45.1-5.5,61.2-11.7c16.6-6.4,30.6-15.1,44.6-29.1c14-14,22.6-28.1,29.1-44.6c6.2-16,10.5-34.3,11.7-61.2c1.2-26.9,1.5-35.4,1.5-103.9s-0.3-77-1.5-103.9c-1.2-26.8-5.5-45.1-11.7-61.2c-6.4-16.6-15.1-30.6-29.1-44.6c-14-14-28.1-22.6-44.6-29.1c-16-6.2-34.3-10.5-61.2-11.7C333,4.4,324.4,4.1,256,4.1L256,4.1z")
                path.cls-1(d="M256,126.6c-71.4,0-129.4,57.9-129.4,129.4S184.6,385.4,256,385.4S385.4,327.4,385.4,256S327.4,126.6,256,126.6zM256,340c-46.4,0-84-37.6-84-84s37.6-84,84-84s84,37.6,84,84S302.4,340,256,340z")
                circle.cls-1(cx="390.5" cy="121.5" r="30.2")
