.l-gf
  footer
    div.c-footPanels.u-row
      div.c-footPanels__profile.u-column
        h2 PROFILE
        section.c-footPanels__content.u-row
          img(src="../img/test/profile_img.png", alt="")
        section.c-footPanels__content
        h3 Yurie.T
        |趣味：music
        br
        |好きな食べ物：カレー、チョコ
      div.c-footPanels__category.u-column
        h2 CATEGORY
        section.c-footPanels__content.u-row
          ul
            each val in ["HTML", "CSS", "Wordpress", "pug", "sass", "JavaScript"]
              li: a(href="#")= val
          ul
            each val in ["HTML", "CSS", "Wordpress", "pug", "sass", "JavaScript"]
              li: a(href="#")= val
          ul
            each val in ["HTML", "CSS", "Wordpress", "pug", "sass", "JavaScript"]
              li: a(href="#")= val
