.l-gf
  footer
    div.c-footPanels.l-row
      div.c-footPanels__profile.l-column
        h2 PROFILE
        section.c-footPanels__content.l-row
          img(src="../img/test/profile_img.png", alt="")
        section.c-footPanels__content
        h3 Yurie.T
        |趣味：music
        br
        |好きな食べ物：カレー、チョコ
      div.c-footPanels__category.l-column
        h2 CATEGORY
        section.c-footPanels__content.l-row
          ul
            li: a(href="#") HTML
            li: a(href="#") CSS
            li: a(href="#") Wordpress
            li: a(href="#") pug
            li: a(href="#") sass
            li: a(href="#") JavaScript
          ul
            li: a(href="#") 旅写真
            li: a(href="#") カレー
            li: a(href="#") チョコ
            li: a(href="#") HTML
            li: a(href="#") HTML
            li: a(href="#") HTML
          ul
            li: a(href="#") 旅写真
            li: a(href="#") カレー
            li: a(href="#") チョコ
            li: a(href="#") HTML
            li: a(href="#") HTML
            li: a(href="#") HTML
            
