.l-gh
  header
    div.ghTitle
      h1 YURIE's BLOG
      div.subTitle Journey to
        br
        |a web designer!!
    nav
      ul
        li: a(href="#") HOME
        li: a(href="#") ABOUT
        li: a(href="#") BLOG
        li: a(href="#") PICTURE
