.l-sidebar
  .u-column
    .l-sidebar-recommend
      .l-sidebar-title ーRECOMMENDー
      ul.u-column
        li.l-sidebar-inner
          .l-sidebar-thum
            img(src="/img/test/pc_typying.jpg", alt="")
        li.l-sidebar-inner.l-sidebar-inner
          .l-sidebar-thum
            img(src="/img/test/pc_typying.jpg", alt="")
        li.l-sidebar-inner
          .l-sidebar-thum
            img(src="/img/test/pc_typying.jpg", alt="")
        
    .l-sidebar-pickup
      .l-sidebar-title ーPICK UPー
      ul
        li 
        li
        li
